@import vars

*
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  &:before, &:after
    -webkit-box-sizing: border-box
    -moz-box-sizing: border-box
    box-sizing: border-box

::placeholder
  color: #666

::selection
  background-color: $accent
  color: #fff

body
  font-size: 16px
  min-width: 320px
  position: relative
  line-height: 1.625
  font-family: $default-font
  overflow-x: hidden
  color: $text
  input, textarea
    border: #666 1px solid
    outline: none
    &:focus:required:invalid
      border-color: red
    &:required:valid
      border-color: green

p
  margin-bottom: 24px

.img-responsive
  display: block
  max-width: 100%
  height: auto

.text-center
  text-align: center

b, strong
  font-weight: bold

a:hover, a:active, a:focus
  color: inherit
  text-decoration: none

a
  color: $accent
  text-decoration: none
  +mt(.3s)

a, li, button
  outline: none!important

ul
  list-style-type: none
  padding: 0
  margin-bottom: 0

.hidden
  display: none!important
// ======= END TEMPLATE STYLES =======

.btn
  display: inline-block
  white-space: nowrap
  text-align: center
  cursor: pointer
  border-width: 1px
  border-style: solid
  font-weight: 500
  +mt(.3s)
  padding: 12px
  width: 226px
  line-height: 1
  &.disabled
    color: $text!important
    background-color: darkgrey!important
    border-color: darkgrey!important
    pointer-events: none


.btn-transparent
  color: $text
  border-color: $text
  background-color: transparent
  &:focus, &:active
    color: $text
    background-color: transparent
  &:hover
    background-color: $text
    color: #fff

.btn-white
  color: $text
  border-color: #fff
  background-color: #fff
  &:focus, &:active
    color: $text
    background-color: #fff
  &:hover
    background-color: transparent
    color: #fff

.btn-black
  color: #fff
  background-color: $text
  border-color: $text
  &:hover
    background-color: lighten($text, 15%)
    border-color: lighten($text, 15%)

.s-creamy
  background-color: #f6f6f6

.section-title
  font-family: "CormorantGaramond", sans-serif
  font-weight: 350
  font-size: 58px
  line-height: 1.1
  color: $accent
  position: relative
  text-align: center
  padding-bottom: 20px
  &:after
    content: ''
    position: absolute
    width: 124px
    height: 1px
    background-color: $accent
    bottom: -3px
    left: 50%
    transform: translateX(-50%)

.relief-top, .relief-bottom
  position: relative
  z-index: 2
  .container
    position: relative
    z-index: 2
  &:before, &:after
    position: absolute
    width: 100%
    height: 174px
    left: 0
    background-image: url('../img/relief-img.png')
    background-position: left center
    background-repeat: no-repeat
  &.s-creamy
    &:before, &:after
      background-image: url('../img/relief-img-creamy.png')

.relief-top
  &:before
    content: ''
    top: -120px

.relief-bottom
  &:after
    content: ''
    bottom: -120px
    transform: rotate(180deg)

.project-items-tabs
  margin-bottom: 40px
  .top
    border-bottom: 1px solid #f6f6f6
    margin-bottom: 43px

.project-tabs-controls
  font-size: 18px
  line-height: 1
  font-weight: 500
  display: flex
  justify-content: center
  li
    margin: 0 40px
    &.ui-tabs-active
      a
        color: $text
        &:after
          background-color: $text
  a
    display: inline-block
    color: #898989
    padding: 10px 0
    position: relative
    &:after
      content: ''
      position: absolute
      width: 100%
      height: 1px
      left: 0
      bottom: 0
      background-color: transparent

.project-items-wrap
  display: grid
  grid-template-columns: repeat(2, 1fr)
  grid-gap: 40px

.project-item
  position: relative
  display: block
  height: 385px
  overflow: hidden
  background-color: $text
  &:before
    content: ''
    position: absolute
    left: 0
    top: 0
    width: 100%
    height: 100%
    background-color: $text
    opacity: .4
    z-index: 2
  img
    width: 100%
    height: 100%
    object-fit: cover
    +mt(3s)
  &:hover
    img
      transform: scale(1.1)
  &-content
    position: absolute
    left: 50px
    bottom: 43px
    color: #fff
    z-index: 3
    padding-right: 30px
  &-title
    display: block
    font-size: 24px
    font-weight: 500
  &-year
    font-size: 18px


//preloader
.preloader
  position: fixed
  top: 0
  right: 0
  bottom: 0
  left: 0
  width: 100%
  height: 100%
  z-index: 10000
  display: flex
  justify-content: center
  align-items: center
  background-color: #f6f6f6

.sk-folding-cube
  width: 4em
  height: 4em
  position: relative
  margin: auto
  transform: rotateZ(45deg)


.sk-folding-cube .sk-cube
  float: left
  width: 50%
  height: 50%
  position: relative
  transform: scale(1.1)

.sk-folding-cube .sk-cube:before
  content: ''
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  background-color: $accent
  animation: sk-folding-cube-angle 2.4s infinite linear both
  transform-origin: 100% 100%

.sk-folding-cube .sk-cube-2
  transform: scale(1.1) rotateZ(90deg)

.sk-folding-cube .sk-cube-3
  transform: scale(1.1) rotateZ(180deg)

.sk-folding-cube .sk-cube-4
  transform: scale(1.1) rotateZ(270deg)

.sk-folding-cube .sk-cube-2:before
  animation-delay: 0.3s

.sk-folding-cube .sk-cube-3:before
  animation-delay: 0.6s

.sk-folding-cube .sk-cube-4:before
  animation-delay: 0.9s


@-webkit-keyframes sk-folding-cube-angle
  0%, 10%
    transform: perspective(140px) rotateX(-180deg)
    opacity: 0

  25%, 75%
    transform: perspective(140px) rotateX(0deg)
    opacity: 1

  90%, 100%
    transform: perspective(140px) rotateY(180deg)
    opacity: 0

@keyframes sk-folding-cube-angle
  0%, 10%
    transform: perspective(140px) rotateX(-180deg)
    opacity: 0

  25%, 75%
    transform: perspective(140px) rotateX(0deg)
    opacity: 1

  90%, 100%
    transform: perspective(140px) rotateY(180deg)
    opacity: 0



.popup-form-block
  display: block
  position: relative
  background-color: #fff
  max-width: 1420px
  margin: 0 auto
  padding: 80px 0 110px

.popup-form
  .section-title
    color: $text
    &:after
      background-color: $text
  input
    border-color: $text
    color: $text
    &::placeholder
      color: $text
  .jq-checkbox
    border-color: $text!important
  .jq-checkbox.checked .jq-checkbox__div
    border-color: $text
  .label-checkbox
    span
      a
        color: $text




//MY_MFP_ZOOM_IN
.my-mfp-zoom-in
  .zoom-anim-dialog, .popup-form-block
    opacity: 0
    transition: all 0.5s ease-in-out
    transform: scale(0.7)
  &.mfp-ready .zoom-anim-dialog, &.mfp-ready .popup-form-block
    opacity: 1
    transform: scale(1)
  &.mfp-removing .zoom-anim-dialog, &.mfp-removing .popup-form-block
    transform: scale(0.7)
    opacity: 0
  &.mfp-bg
    opacity: 0
    transition: opacity 0.5s ease-out
  &.mfp-ready.mfp-bg
    opacity: .9
  &.mfp-removing.mfp-bg
    opacity: 0


.bg-white
  position: relative
  background-color: #fff

.page-links-wrap
  display: flex
  align-items: center
  justify-content: space-between
  font-weight: 500
  line-height: 1
  padding-top: 65px
  margin-bottom: 35px

.page-link
  color: $text
  .svg
    width: 14px
    height: auto
    display: inline-block
    margin-right: 8px
    position: relative
    top: 2px
    +mt(.3s)
  &:hover
    color: darkgoldenrod
    .svg
      fill: darkgoldenrod
  &-next
    .svg
      transform: rotate(180deg)
      margin-right: 0
      margin-left: 8px


.page-title
  font-family: "CormorantGaramond", sans-serif
  font-weight: 350
  color: $accent
  font-size: 58px
  line-height: 1
  margin-bottom: 20px

.page-desc
  font-size: 18px
  margin-bottom: 50px

.mb0
  margin-bottom: 0!important


.pswp__counter
  display: none!important

